.secccion-productos h1 {
    font-family: "ZCOOL KuaiLe", sans-serif;
}

.card-producto {
    display: flex;
    width: 170px;
    font-size: 10px;
    flex-direction: column;
    align-items: center;
    height: 170px;
    justify-content: space-between;
    background-color: ghostwhite;
    color: black;
    margin-bottom: 25px;
    border-radius: 5px;
    border: 3px solid #eb99a1;
    padding: 10px;
    cursor: pointer;
}

.card-producto img {
    width: 70px;
}

.card-producto h4, .card-producto p {
    margin: 0;
}

.card-producto h4 {
    font-size: 12px;
}

#contenedor-productos {
    display: grid;
    grid-template-columns: auto auto auto auto;
    justify-content: space-around;
}

#contenedor-productos ul {
    margin-top: 20px;
    width: 100%;
    padding-left: 0;
}

.mira-ofertas-section {
    width: 100vw;
    display: flex;
    justify-content: center;
}

.mira-ofertas {
    display: flex;
    gap: 30px;
    align-items: center;
    background-color: var(--amarillo-oscuro);
    padding: 2px 30px;
    border-radius: 50px;
    color: #181818;
    cursor: pointer;
    height: 50px;
    transition: all 0.3s ease;
    text-decoration: none;
}

.mira-ofertas:hover {
    transform: scale(1.06);
}

.mira-ofertas-flecha {
    position: relative;
    width: 60px;
    height: 50px;
}

.mira-ofertas-flecha div {
    position: absolute;
    padding: 15px 20px;
    width: 30px;
    border-radius: 50px;
    transition: all 0.3s ease;
}

.mira-ofertas:hover .mira-ofertas-flecha div{
    background-color: var(--amarillo-muy-oscuro);
    transform: translateX(calc(18px));
}